<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613253193648-37krknut013lfqvrbdv4cf8b5od4oda8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613253193648-37krknut013lfqvrbdv4cf8b5od4oda8</string>
	<key>API_KEY</key>
	<string>AIzaSyCr2ukXAiS9ajGOkbJF0ckTwpCfkYUMD5k</string>
	<key>GCM_SENDER_ID</key>
	<string>613253193648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wrichy.ManageBuildings2-0</string>
	<key>PROJECT_ID</key>
	<string>managebuilding-705f4</string>
	<key>STORAGE_BUCKET</key>
	<string>managebuilding-705f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613253193648:ios:023e16d4b22af334018075</string>
	<key>DATABASE_URL</key>
	<string>https://managebuilding-705f4.firebaseio.com</string>
</dict>
</plist>